<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
		id="cordova-plugin-onefile-error-logging"
		version="1.0.1">
	<name>OneFile Error Logger</name>
	<description>Cordova Plugin OneFile Error Logger</description>
	<license>Onefile Limited</license>
	<keywords>nomad,onefile</keywords>
	<repo>https://github.com/ben3005/cordova-plugin-onefile-error-logging.git</repo>
	<issue></issue>

	<js-module src="www/onefileErrorLogging.js" name="OnefileErrorLogging">
		<clobbers target="OnefileErrorLogging" />
	</js-module>

	<platform name="ios">
		<config-file target="config.xml" parent="/*">
			<feature name="OnefileErrorLogging">
				<param name="ios-package" value="OnefileErrorLogging" />
			</feature>
		</config-file>
		<header-file src="src/ios/OnefileErrorLogging.h" />
		<header-file src="src/ios/database.h" />
		<header-file src="src/ios/sendrequest.h" />
		<source-file src="src/ios/OnefileErrorLogging.m" />
		<source-file src="src/ios/database.m" />
		<source-file src="src/ios/sendrequest.m" />
		<framework src="libsqlite3.0.tbd" />
		<framework src="foundation.framework" />
	</platform>

	<platform name="windows">
		<js-module src="src/windows/OnefileErrorLogging.js" name="OnefileErrorLoggingProxy">
			<merges target="" />
		</js-module>
	</platform>
	
	<platform name="android">
		<config-file target="config.xml" parent="/*">
			<feature name="OnefileErrorLogging">
				<param name="android-package" value="uk.co.onefile.onefileeportfolio.errorlogging.OnefileErrorLogging"/>
			</feature>
		</config-file>
		<source-file src="src/android/OnefileErrorLogging.java" target-dir="src/uk/co/onefile/onefileeportfolio/errorlogging/" />
		<source-file src="src/android/ErrorDatabaseAccess.java" target-dir="src/uk/co/onefile/onefileeportfolio/errorlogging/" />
	</platform>
</plugin>